body{
  background:#F6F6F6;
}
header h1{
  text-align: center;
  padding-top: 25px;
  font-size: 3rem;
  color:#00BBF0;
  padding-bottom: 30px;
}

.profile-area{
  background: #E3F3F7;
  padding: 25px 15px;
}

.text-area{
  border-radius: 15px;
  width: 100%;
  resize: none;
}

button.btn-send{
  float:right;
}

.img-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.twitter-post{
  background: #C5F0A4;
  padding: 25px 15px;
}

.close{
  color:green;
  position: absolute;
  top: 15px;
  right:15px;
}

.perfil-base h5{
  color: #4A772F;
  font-family: sans-serif;
  font-weight: bolder;
}

p.input-text{
  color: #005903;
  font-weight: bolder;
}

.email{
  color:#FA9E05;
  font-style: italic;
  font-weight: bold;
  font-size: 0.9em;
}
